<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobiotics.deeptimay.deeptimaymobiotics">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_focus"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_focus"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activityLogin.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activityRecordList.RecordListActivity" />
        <activity android:name=".activityExoPlayer.ExoPlayerActivity" />
    </application>

</manifest>